# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtualenvs
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Data & artifacts (don't commit large/derived stuff)
data/raw/*
data/processed/*
data/models/*
!data/**/.gitkeep
mlruns/
mlartifacts/
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
